*{
  margin: 0;
}

.conatiner{
  max-width:1280px;
  margin: 0 auto;
}
.main_container{
  display: flex;
  flex-direction: column;
  height: calc(100vh-72px);
  justify-content: end;
}
.output{
  text-align: start;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
